#home-header{
background-color:#092147 !important;
color:white;
min-height:50vh;
margin-bottom:0px;
}

#home-header-text{
margin-top:45px;
font-size:80px;
font-family:Trebuchet MS;
}

hr{
margin-top:3vw !important;
margin-bottom:5vw !important;
}

.glyphicon{
color:white;
font-size:80px;
}

.panel {
    background-color: #27c;
    border-radius: 12px;
}

.choice {
    height: 2.5em;
    margin: auto;
    list-style-type: none;
    background-color: #fff;
    border-radius: 8px;
    margin: 6px 0;
    color: #27c;
    font-size: 1.2em;
}

.result {
    height: 2.5em;
    margin: auto;
    list-style-type: none;
    color: #eee;
    font-size: 1.3em;
}

.choice:hover {
    background-color: #eee;
}

#results-button {
    color: gray;
}